/* Temp */
.woo-entry-image-swap.wpex-clr {
    height: 14vw;
}

	@media all and (max-width: 1023px) {
		.woo-entry-image-swap.wpex-clr {
		    height: 25vw;
		}
	}
	
	@media all and (max-width: 767px) {
		.woo-entry-image-swap.wpex-clr {
		    height: 50vw;
		}
	}
	
	@media all and (max-width: 480px) {
		.woo-entry-image-swap.wpex-clr {
		    height: 90vw;
		}
	}
	

.hidden {
	display: none !important;
}


/* Typography */

body.active #wpadminbar {
	display: none;
}


@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,700,700i');

body, nav {
	font-family: 'Open Sans', sans-serif !important;
	/*font-weight: 300 !important;
	letter-spacing: 0.05em;
	font-size: 14pt;
	line-height: 1.125;*/
}

strong, h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	font-size: 2em;
}

.text-center {
	text-align: center;
}

.clear, .clearfix {
	clear: both;
}

.container {
	width: 100% !important;
	max-width: 1400px !important;
	padding-left: 15px;
	padding-right: 15px;
}

ul.products {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

/* Forms */

.form-group {
    position: relative;
}

    .form-control {
        width: 100%;
        border: 1px solid #ccc;
        padding: 10px;
        webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
        height: 42px;
    }

        .form-control:focus {
            outline: none;
            webkit-transition: all 0.2s ease-in;
            -moz-transition: all 0.2s ease-in;
            transition: all 0.2s ease-in;
            box-shadow: 0px 0px 5px 0 rgba(0,0,0,0.15);
        }

        .form-group .form-control {
            width: 75%;
            float: left;
            -webkit-border-top-left-radius: 3px;
            -webkit-border-bottom-left-radius: 3px;
            -moz-border-radius-topleft: 3px;
            -moz-border-radius-bottomleft: 3px;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }

    .form-submit {
        border: none;
        background-color: #263248;
        color: #fff;
        height: 42px;
        webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
    }

        .form-submit:hover {
            opacity: 0.65;
            webkit-transition: all 0.2s ease-in;
            -moz-transition: all 0.2s ease-in;
            transition: all 0.2s ease-in;
            cursor: pointer;
            box-shadow: 0px 0px 5px 0 rgba(0,0,0,0.15);
        }

        .form-group .form-submit {
            width: 25%;
            float: right;
			-webkit-border-radius: 0px;
            -webkit-border-top-right-radius: 3px;
            -webkit-border-bottom-right-radius: 3px;
            -moz-border-radius: 0px;
            -moz-border-radius-topright: 3px;
            -moz-border-radius-bottomright: 3px;
            border-radius: 0px;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }

/* Links */

.button {
	background-color: #fff;
	text-shadow: none;
	color: #000e28;
	border:  2px solid #000e28;
	padding: 10px 30px;
	display: inline-block;
	webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-weight: bold;
	font-size:  12pt;
}

	.button:hover {
		text-decoration: none;
		background-color: #000e28;
		color: #fff;
		webkit-transition: all 0.5s ease-in;
		-moz-transition: all 0.5s ease-in;
		transition: all 0.5s ease-in;
	}
	
/* Header */

#header {
	position: relative;
	/*position: fixed;
	z-index: 9999;
	background-color: #fff;
	width: 100%;*/
}

	#header #logo {
		float: left;
	}
	
		#header #logo img {
			width:  375px;
			height: auto;
		}
		
		@media all and (max-width: 767px) {
			#header #logo {
				float: none;
				width: 100%;
				text-align: center;
			}
			#header #logo img {
				width:  250px;
			}
		}
	
	#header #navigation {
		clear: both;
		width: 100%;
		padding: 15px 0px 15px 0px;
		border-top: 1px solid #efefef;
		position: relative;
	}
	
		@media all and (max-width: 768px) {
			#header #navigation {
				border-top: none;
			}
		}
	
		#header #navigation a {
			color: #000;
			text-transform: uppercase;
			font-size: 12pt;
			font-weight: 300;
			display: inline-block;
			transition: all 1s;
			-webkit-transition: all 1s;
			-moz-transition: all 1s;
		}
		
			@media all and (min-width: 768px) and (max-width: 900px) {
				#header #navigation a {
					font-size:  10pt;
				}
			}
		
			/*#header #navigation a:after {
				content: "";
				width: 0%;
				left: 50%;
				height: 1px;
				background-color: rgba(0,0,0,0.25);
				transition: all 1s;
				-webkit-transition: all 1s;
				-moz-transition: all 1s;
				display: block;
				margin-top: 5px;
			}*/
		
			#header #navigation a:hover {
				text-decoration: none;
				transition: all 1s;
				-webkit-transition: all 1s;
				-moz-transition: all 1s;
				color: #263248;
				opacity: 0.5;
			}
			
				/*#header #navigation a:hover:after {
					width: 100%;
					left: 0%;
					transition: all 1s;
					-webkit-transition: all 1s;
					-moz-transition: all 1s;
				}*/
				
		#header #menu-customer {
			top:  35px;
			right: 0px;
			position: relative;
			text-align: right;
		}
		
			#header #menu-customer ul {
				display: inline;
				float: right;
			}
			
			#header #menu-customer ul.cart {
				margin-right: 30px;
				margin-top:  -4px;
			}
			
			#header #menu-customer a.cart-contents {
				font-size: 14pt;
				position: relative;
				padding: 0px;
			}
		
			#header #menu-customer a.cart-contents .badge {
				background-color: #fff;
				color: #000e28;
				font-size: 8pt;
				padding: 1px 6px;
				-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
				border-radius: 50%;
				position: absolute;
				display: inline-block;
				right: -12px;
				bottom: -8px;
				border:  2px solid green;
			}
		
			#header #menu-customer a {
				margin-right: 10px;
				font-weight: bold;
				color: #000e28;
				transition: all 1s;
				-webkit-transition: all 1s;
				-moz-transition: all 1s;
				transition: all 1s;
				-webkit-transition: all 1s;
				-moz-transition: all 1s;
				padding: 10px;
			}
			
				#header #menu-customer li:last-child a {
					margin-right:  0px;
				}
			
				#header #menu-customer a:hover {
					text-decoration: none;
					opacity: 0.65;
					transition: all 1s;
					-webkit-transition: all 1s;
					-moz-transition: all 1s;
				}
		
			#header #menu-customer ul {
				list-style: none;
				display: inline;
				margin: 0;
				padding: 0;
			}
			
				#header #menu-customer ul li {
					list-style: none;
					display: inline;
					margin: 0;
					padding: 0;
				}
				
					#header #menu-customer ul li ul {
						display: none;
						position: absolute;
						z-index: 999;
						background-color: #fff;
						box-shadow: 0px 3px 5px #444;
						padding: 10px;
					}
					
						#header #menu-customer ul li ul li {
							display: block;
							width: 200px;
							text-align: left;
						}
						
							#header #menu-customer ul li ul li a {
								padding: 5px 0px;
							}
						
							#header #menu-customer ul li ul li a:hover {
								opacity: 0.65;
							}
							
								#header #menu-customer ul li ul li a:after {
									display: none;
								}
					
					#header #menu-customer ul li:hover ul {
						display: block;
					}
	
		#header #navigation #menu-shop {
			float: left;
		}
		
			#header #navigation #menu-shop a {
				margin-right: 10px;
				font-weight: bold;
			}
		
			#header #navigation #menu-shop ul {
				list-style: none;
				display: inline;
				margin: 0;
				padding: 0;
			}
			
				#header #navigation #menu-shop ul li {
					list-style: none;
					display: inline;
					margin: 0 10px 0 0;
					padding: 0;
					position: relative;
				}
				
					#header #navigation #menu-shop ul li ul {
						display: none;
						position: absolute;
						z-index: 999;
						background-color: #fff;
						box-shadow: 0px 3px 5px #444;
						padding: 10px;
						left: 0;
						width: 200px;
					}
					
						#header #navigation #menu-shop ul li ul li {
							display: block;
						}
						
							#header #navigation #menu-shop ul li ul li a {
								padding: 5px 0px;
								text-transform: none;
								font-weight: 500;
							}
						
							#header #navigation #menu-shop ul li ul li a:hover {
								opacity: 0.65;
							}
							
								#header #navigation #menu-shop ul li ul li a:after {
									display: none;
								}
					
					#header #navigation #menu-shop ul li:hover ul {
						display: block;
					}
		
		#header #navigation #menu-content {
			float: right;
			margin-right: 30px;
		}
		
			#header #navigation #menu-content a {
				margin-left: 10px;
			}
		
			#header #navigation #menu-content ul {
				list-style: none;
				display: inline;
				margin: 0;
				padding: 0;
			}
			
				#header #navigation #menu-content ul li {
					list-style: none;
					display: inline;
					margin: 0;
					padding: 0;
				}
				
					#header #navigation #menu-content ul li ul {
						display: none;
					}
					
	#header #search-wrapper {
		position: absolute;
		top: 14px;
		right: 0;
		font-size: 12pt;
		height: 100%;
		padding: 0px;
		font-weight: normal;
		white-space: nowrap;
	}
	
		@media all and (max-width: 768px) {
			#header #search-wrapper {
				display: none;
			}
		}
	
		#header #search-wrapper .search {
			position: absolute;
			top: 0;
			right: 0;
			float: right;
			margin-left:  10px;
			width: 400px;
			background-color: #fff;
			opacity: 0;
			pointer-events: none;
			padding-left: 30px;
		}
		
			#header #search-wrapper.active .search {
				opacity: 1;
				pointer-events: all;
			}
		
			#header #search-wrapper .search.active {
				width: 400px;
			}
			
			#header #search-wrapper .form-group .fa {
				position: absolute;
				left: -30px;
				top: 8px;
			}
			
			#header #search-wrapper .form-control {
				height: 30px;
				font-size: 12pt;
			}
			
			#header #search-wrapper .form-submit {
				padding-right: 10px;
				height: 30px;
				font-size: 10pt;
				padding: 2px 20px !important;
			}
					
/* Mobile Nav */

#outer-wrap {
    webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    position: relative;
    left: 0;
}

@media all and (max-width: 768px) {
    body.active #outer-wrap {
        position: fixed;
        left: -50%;
        webkit-transition: all 0.5s ease-in;
        -moz-transition: all 0.5s ease-in;
        transition: all 0.5s ease-in;
		overflow: hidden;
		width: 100vw;
		z-index: 9;
    }
}

    @media all and (max-width: 480px) {
        body.active #outer-wrap {
            left: -100%;
        }
    }
    
.button.mobileToggle {
	background-color: transparent !important;
	color: #000 !important;
	position: absolute;
	top: -55px;
	right: 20px;
	padding: 10px;
	border:  none;
}

	@media all and (min-width: 769px) {
	    .button.mobileToggle {
	        display: none;
	    }
	}

#mobile-navigation {
    display: none;
    position: fixed;
    top: 0;
    left: 100%;
    webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    width: 50%;
    overflow-y: scroll;
    height: 100%;
    background-color: #000e28;
    color: #fff;
	z-index: 999999999 !important;
}

    @media all and (max-width: 480px) {
        #mobile-navigation {
            left: 100%;
            width: 100%;
        }
    }

    @media all and (max-width: 768px) {
        body.active #mobile-navigation {
            left: 50%;
            webkit-transition: all 0.5s ease-in;
            -moz-transition: all 0.5s ease-in;
            transition: all 0.5s ease-in;
        }
    }

        @media all and (max-width: 480px) {
            body.active #mobile-navigation {
                left: 0%;
            }
        }
        
    #mobile-navigation .form-submit {
		background-color: #bfc3c9;
		color: #000;
	}
	
		#mobile-navigation .form-submit:hover {
			background-color: #263248;
			color: #fff;
		}
        
    #mobile-navigation h1, #mobile-navigation h2,
    #mobile-navigation h3, #mobile-navigation h4, 
    #mobile-navigation h5, #mobile-navigation h6 {
		color: #fff;
	}

    #mobile-navigation .button {
        text-align: right;
        padding: 10px;
		position: relative;
		right: 10px;
		top:  0px;
		color: #fff !important;
		width: 100%;
		font-size: 14pt;
    }

    #mobile-navigation .content {
        padding: 20px;
    }

        #mobile-navigation .content ul {
            list-style: none;
            margin: 0px;
            padding: 0px;
        }

            #mobile-navigation .content ul li {
                border-bottom: 1px solid rgba(255,255,255,0.1);
            }

                #mobile-navigation .content ul li a {
                    display: block !important;
                    padding: 5px 10px !important;
                    text-decoration: none !important;
                    color: #fff !important;
                    webkit-transition: all 0.2s ease-in;
                    -moz-transition: all 0.2s ease-in;
                    transition: all 0.2s ease-in;
					text-transform: none !important;
                }
                
                	#mobile-navigation .content ul li a:after {
						display: none !important;
					}

                    #mobile-navigation .content ul li a:hover {
                        background-color: rgba(255,255,255,0.1);
                        webkit-transition: all 0.2s ease-in;
                        -moz-transition: all 0.2s ease-in;
                        transition: all 0.2s ease-in;
                    }

                    #mobile-navigation .content ul li ul {
                        columns: 2;
                        -webkit-columns: 2;
                        -moz-columns: 2;
                        padding-left: 20px;
                        margin-bottom: 10px;
                    }

                        @media all and (max-width: 480px) {
                            #mobile-navigation .content ul li ul {
                                columns: 1;
                                -webkit-columns: 1;
                                -moz-columns: 1;
                            }
                        }

                        #mobile-navigation .content ul li ul li {
                            border-bottom: none;
                            font-size: 0.75em !important;
                        }

                            #mobile-navigation .content ul li ul li a:hover {
                                background-color: transparent;
                                opacity: 0.75;
                            }

@media all and (max-width: 768px) {
    #menu-customer, #menu-shop, #menu-content {
        display: none;
    }
    #mobile-navigation {
        display: block;
    }
}


/* Custom Page Sections */

section.blocks {
    padding: 20px 0px;
	width: 100%;
	display: block;
}

	section.blocks .intro {
		font-size: 16pt;
		max-width: 1000px;
		margin: 0px auto;
	}

    section.blocks .block-row {
        margin-bottom: 30px;
        padding: 0px 15px;
        @media all and (min-width: 768px) (max-width: 1023px) {
            margin-bottom: 0;
        }
    }
    
    section.blocks .block-wrapper {
		width: 33.33%;
		float: left;
		padding:  10px;
	}
	
		@media all and (max-width: 767px) {
			section.blocks .block-wrapper {
				width: 100%;
				float: none;
			}
		}

    section.blocks .block {
        padding: 20px;
        height: 20vw;
        text-align: center;
        position: relative;
        color: #fff;
        background-size: cover;
        background-position: center;
        overflow: hidden;
    }

        @media all and (max-width: 480px) {
            margin-bottom: 30px;
            height: 75vw;
        }

        @media all and (min-width: 481px) (max-width: 767px) {
            margin-bottom: 30px;
            height: 30vw;
        }

        @media all and (min-width: 768px) (max-width: 1023px) {
            margin-bottom: 30px;
            height: 25vw;
        }

    section.blocks .block-outline--top {
        webkit-transition: all 0.5s ease-in;
        -moz-transition: all 0.5s ease-in;
        transition: all 0.5s ease-in;
        position: absolute;
        top: 20px;
        left: 20px;
        right: 100%;
        bottom: 100%;
        border-top: 4px solid #fff;
        border-left: 4px solid #fff;
        opacity: 0;
        z-index: 2;
    }

        section.blocks .block:hover .block-outline--top {
            webkit-transition: all 0.5s ease-in;
            -moz-transition: all 0.5s ease-in;
            transition: all 0.5s ease-in;
            right: 20px;
            bottom: 20px;
            opacity: 1;
        }

    section.blocks .block-outline--bottom {
        webkit-transition: all 0.5s ease-in;
        -moz-transition: all 0.5s ease-in;
        transition: all 0.5s ease-in;
        position: absolute;
        right: 20px;
        bottom: 20px;
        left: 100%;
        top: 100%;
        border-bottom: 4px solid #fff;
        border-right: 4px solid #fff;
        opacity: 0;
        z-index: 2;
    }

        section.blocks .block:hover .block-outline--bottom {
            webkit-transition: all 0.5s ease-in;
            -moz-transition: all 0.5s ease-in;
            transition: all 0.5s ease-in;
            left: 20px;
            top: 20px;
            opacity: 1;
        }

    section.blocks .block-overlay {
        webkit-transition: all 0.5s ease-in;
        -moz-transition: all 0.5s ease-in;
        transition: all 0.5s ease-in;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.15);
        top: 0;
        left: 0;
        z-index: 1;
    }

        section.blocks .block:hover .block-overlay {
            webkit-transition: all 0.5s ease-in;
            -moz-transition: all 0.5s ease-in;
            transition: all 0.5s ease-in;
            background-color: rgba(0,0,0,0.45);
        }

    section.blocks .block-content {
        webkit-transition: all 0.5s ease-in;
        -moz-transition: all 0.5s ease-in;
        transition: all 0.5s ease-in;
        z-index: 3;
        position: relative;
        text-shadow: 1px 1px #000;
    }
	
		section.blocks .block-row a:hover {
			text-decoration: none;
		}

        section.blocks .block-content h3 {
            font-size: 1.5em !important;
            line-height: 1.3 !important;
            text-transform: lowercase;
            width: 80%;
            margin: 0 auto;
			color: #fff;
        }

        section.blocks .block-content .description {
            webkit-transition: all 0.5s ease-in;
            -moz-transition: all 0.5s ease-in;
            transition: all 0.5s ease-in;
            position: absolute;
            bottom: -100%;
            font-size: 12pt;
            padding: 0 15px;
            margin: 0;
        }

            section.blocks .block:hover .block-content .description {
                webkit-transition: all 0.5s ease-in;
                -moz-transition: all 0.5s ease-in;
                transition: all 0.5s ease-in;
                position: relative;
                bottom: 0;
            }

section.marquee {
	height: 70vh;
	background-size: cover;
	background-position: center;
	color: #fff;
	text-shadow: 2px 2px #000;
	position: relative;
}

	section.marquee h1 {
		font-size: 24pt;
		color: #fff;
		max-width: 600px;
		margin: 0 auto 10px auto;
	}
	
	section.marquee p {
		margin-bottom: 10px;
	}
	
	section.marquee .button {
		margin-top: 10px;
	}
	
section.quotes {
	width: 100%;
	padding: 0;
	clear: both;
	position: relative;
	height: 80vh;
	display: table;
}

	section.quotes .quote {
		padding: 25vh 0;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		position: absolute;
		top: 0;
		left: 0;
		display: table-cell;
		height: 100%;
		vertical-align: middle;
		width: 100%;
	}
	
		section.quotes .quote .quote-text {
			text-align: right;
			width: 60%;
			margin: 0px auto 25px 30%;
			font-size: 32pt;
			line-height: 1.5;
			font-weight: 100 !important;
			color: #fff;
			text-shadow: 1px 1px #000;
		}
		
		section.quotes .quote .source {
			text-align: right;
			text-transform: uppercase;
				text-align: right;
				width: 60%;
				margin: 0px auto 25px 30%;
				color: #fff;
				text-shadow: 1px 1px #000;
		}
		
			@media all and (max-width: 1023px) {
				section.quotes .quote .quote-text {
					font-size: 24pt;
					margin: 0px 5%;
					width: 90%;
				}
				section.quotes .quote .source {
					margin: 0px 5% 25px 5%;
					width:  90%;
				}
			}
			
			@media all and (max-width: 600px) {
				section.quotes .quote .quote-text {
					font-size: 18pt;
				}
			}
			
		
section.subscribe {
    padding: 100px 0px;
    text-align: center;
}

    section.subscribe h3 {
        margin-top: 0px;
		font-size: 14pt;
		font-weight: 100;
    }

    section.subscribe .form {
        width: 400px;
        margin: 0 auto;
    }
	
		@media all and (max-width: 500px) {
			section.subscribe .form {
				width: 90%;
			}
		}
	
	section.subscribe div.social {
		float: left;
		width: 33%;
	}
	
	section.subscribe div.email {
		float: left;
		width: 66%;
	}
	
		@media all and (max-width: 767px) {
			section.subscribe div.social,
			section.subscribe div.email {
				width: 100%;
				float: none;
			}
			section.subscribe div.social {
				margin-bottom: 40px;
			}
		}
	
	section.subscribe ul.social {
	            display: inline;
	            list-style: none;
	            margin: 0px;
	            padding: 0px;
				color: #fff;
	        }
	
	            section.subscribe ul.social li {
	                display: inline;
	            }
	
	                section.subscribe ul.social li img {
	                    width: 30px;
	                }
	
	                section.subscribe ul.social li a {
	                    text-decoration: none;
	                    margin: 0px 5px 0px 0px;
	                    webkit-transition: all 0.2s ease-in;
	                    -moz-transition: all 0.2s ease-in;
	                    transition: all 0.2s ease-in;
	                }
	
	                    section.subscribe ul.social li a:hover {
	                        opacity: 0.65;
	                    }
		
section.text {
    padding: 25px 0px;
}

	section.text .column {
		float: left;
	}
	
		section.text.one.column .column {
			width: 100%;
		}
		
		section.text.two.column .column {
			width: 50%;
		}
		
		section.text.three.column .column {
			width: 33%;
		}
		
		@media all and (max-width: 767px) {
		    section.text.one.column .column,
		    section.text.two.column .column,
		    section.text.three.column .column {
		        width: 100%;
		        float: none;
		    }
		}

    /*section.text .column {
        width: 50%;
        float: left;
    }

        @media all and (max-width: 767px) {
            section.text .column,
            section.text {
                width: 100%;
                float: none;
            }
        }

        section.text .column .column {
            width: 45%;
            margin-right: 5%;
        }

            @media all and (max-width: 480px) {
                section.text .column .column {
                    width: 100%;
                    float: none;
                    margin-right: 0px;
                }
            }

            @media all and (min-width: 481px) and (max-width: 768px) {
                section.text .column .column {
                    width: 45%;
                    margin-right: 5%;
                    float: left;
                }
            }*/

        section.text .column .content {
            padding: 0px 20px;
        }
		
	section.text h3.headline {
		text-align: center;
	}

    section.text h1, section.text h2, section.text h3 {
        margin-top: 0;
    }
	
/* Footer */

footer#footer {
    padding: 50px 0px 30px 0px;
    background-color: #000e28;
    color: #fff;
}

    footer#footer a {
        text-decoration: none;
        color: #fff;
        webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
    }

        footer#footer a:hover {
            color: #ccc;
            webkit-transition: all 0.2s ease-in;
            -moz-transition: all 0.2s ease-in;
            transition: all 0.2s ease-in;
        }

    footer#footer .content {
        padding: 0px 10px 0px 0px;
    }

        @media all and (max-width: 480px) {
            footer#footer .content {
                padding: 0px 10px;
            }
        }

    footer#footer .logo {
        width: 25%;
        float: left;
        /*text-align: center;*/
    }
	
		footer#footer .logo h4 {
			color: #fff !important;
			font-size: 14pt;
		}

        @media all and (max-width: 1023px) {
            footer#footer .logo {
                width: 100%;
                text-align: center;
                float: none;
                margin-bottom: 40px;
            }
        }

        footer#footer .logo img {
            width: 80%;
            /*background-color: #efefef;
            height: 60px;*/
        }

            @media all and (max-width: 1023px) {
                footer#footer .logo img {
                    width: 300px;
                }
            }

    footer#footer .contact {
        width: 25%;
        float: left;
    }

        @media all and (max-width: 480px) {
            footer#footer .contact {
                width: 100%;
                clear: both;
                margin-bottom: 20px;
            }
        }

        @media all and (min-width: 481px) and (max-width: 1023px) {
            footer#footer .contact {
                width: 50%;
                clear: both;
            }
        }

        @media all and (max-width: 1023px) {
            footer#footer .contact .content {
                padding-left: 20px;
            }
        }

        footer#footer .contact h4 {
            font-size: 1.2em;
            margin: 0px 0px 5px 0px;
			color: #fff;
        }

        footer#footer .contact p.small {
            font-size: 9pt;
            padding: 0px 25% 0px 0px;
            opacity: 0.75;
        }

        footer#footer .contact p.link {
            font-size: 10pt;
            margin-bottom: 0px;
        }

            footer#footer .contact p.link a {
                display: block;
                margin-bottom: 5px;
            }

        footer#footer ul.social {
            display: inline;
            list-style: none;
            margin: 0px;
            padding: 0px;
			color: #fff;
        }

            footer#footer ul.social li {
                display: inline;
            }

                footer#footer ul.social li img {
                    width: 30px;
                }

                footer#footer ul.social li a {
                    text-decoration: none;
                    margin: 0px 5px 0px 0px;
                    webkit-transition: all 0.2s ease-in;
                    -moz-transition: all 0.2s ease-in;
                    transition: all 0.2s ease-in;
                }

                    footer#footer ul.social li a:hover {
                        opacity: 0.65;
                    }

    footer#footer .links {
        width: 50%;
        float: left;
    }

        @media all and (max-width: 480px) {
            footer#footer .links {
                width: 100%;
                clear: both;
            }
            footer#footer .links .content {
                padding-left: 20px;
            }
        }

        footer#footer .links ul {
            list-style: none;
            margin: 0px 0px 20px 0px;
            padding: 0px;
            columns: 2;
            -webkit-columns: 2;
            -moz-columns: 2;
        }

            @media all and (min-width: 481px) and (max-width: 767px) {
                footer#footer .links ul {
                    columns: 1;
                    -webkit-columns: 1;
                    -moz-columns: 1;
                }
            }

            footer#footer .links ul li {
                margin-bottom: 5px;
            }

        footer#footer .links .copyright {
            font-size: 8pt;
        }

section#disclaimer {
    background-color: #000e28;
    color: #fff;
    padding: 0px 20px 20px 20px;
    font-size: 8pt;
    font-weight: 100;
}

/* Featured Products */

section.featured-products {
	padding: 25px 0px;
	/*background-color: #eff0f1;*/
}

	section.featured-products ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	
		section.featured-products ul li {
			width: 16.66% !important;
			float: left;
		}
		
			@media all and (min-width: 768px) and (max-width: 1024px) {
				section.featured-products ul li {
					width: 33.33% !important;
				}
				section.featured-products ul li:nth-child(4) {
					clear: both;
				}
			}
			
			@media all and (min-width: 481px) and (max-width: 767px) {
				section.featured-products ul li {
					width: 50% !important;
				}
			}
			
			@media all and (max-width: 480px) {
				section.featured-products ul li {
					width: 100% !important;
				}
			}
			
			section.featured-products ul li .product-inner {
				padding: 10px;
				background-color: #fff;
				/*box-shadow: 0px 3px 5px rgba(0,0,0,0.25);*/
				margin:  10px;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
				webkit-transition: all 0.2s ease-in;
				-moz-transition: all 0.2s ease-in;
				transition: all 0.2s ease-in;
			}
			
				section.featured-products ul li:hover .product-inner {
					/*box-shadow: 0px 3px 5px rgba(0,0,0,0.5);*/
					webkit-transition: all 0.2s ease-in;
					-moz-transition: all 0.2s ease-in;
					transition: all 0.2s ease-in;
					overflow: hidden;
				}
				
					section.featured-products ul li .product-inner .amount {
						display: none;
					}
				
					section.featured-products ul li .product-inner .price {
						/*padding-bottom: 10px;
						display: block;*/
						display: none;
					}
					
					section.featured-products ul li .product-inner .button {
						padding:  3px 20px;
						/*background-color: #000e28;
						color: #fff;*/
						-webkit-border-radius: 3px;
						-moz-border-radius: 3px;
						border-radius: 3px;
						font-weight: normal;
						text-align: center;
						margin: 0px auto;
						display: block;
						width: 90px;
					}
					
						section.featured-products ul li .product-inner .button:hover {
							/*background-color: #fff;
							color: #000e28;*/
						}
						
						section.featured-products ul li .product-inner img {
							-webkit-transition-duration: 0.5s;
							-moz-transition-duration: 0.5s;
							-o-transition-duration: 0.5s;
							transition-duration: 0.5s;
						}
						
						section.featured-products ul li .product-inner:hover img {
							transform: scale(1.1);
							-webkit-transition-duration: 0.5s;
							-moz-transition-duration: 0.5s;
							-o-transition-duration: 0.5s;
							transition-duration: 0.5s;
						}
			
				section.featured-products ul li .product-inner h2 {
					font-size: 12pt;
				}
				
				section.featured-products ul li .product-inner a:hover {
					text-decoration: none;
				}
				
					section.featured-products ul li .product-inner a:hover h2 {
						color: #263248;
					}

/* Elements */

.overlay--black {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.45);
	z-index: 0;
}

.vertical-align {
	display: table;
	height: 100%;
	width: 100%;
	position: relative;
	z-index: 1;
}

.vertical-align--content {
	display: table-cell;
	height: 100%;
	vertical-align: middle;
}

#sidebar .widget_nav_menu a, #sidebar .widget_nav_menu ul >li:first-child >a {
    border: none;

}

#sidebar .widget_nav_menu a, #sidebar .widget_nav_menu ul >li {
    margin: 0px;
    padding: 0px;
    font-size: 12pt;
}

.sidebar-box .widget-title {
    color: #000;
}

.sidebar-widget-icons .widget_product_categories a:before {
    display: none !important;
}
.sidebar-widget-icons .widget_product_categories a {
    font-size: 12pt;
    color: #777 !important;
    display: block;
    padding: 2px 0px;
}
.sidebar-widget-icons .widget_product_categories a:hover {
    background-color: #f9f9f9;
    text-decoration: none;
}
    
#main .widget_product_categories li {
    border: none;
    padding: 0px;
}

/* Removing WordPress Admin Bar Items */

#wp-admin-bar-customize,
#wp-admin-bar-wpseo-menu,
#wp-admin-bar-wpex_custom_css,
#wp-admin-bar-vc_inline-admin-bar-link,
#wp-admin-bar-delete-cache,
#wp-admin-bar-new_draft {
	display: none;
}

/* Removing Top Bar */

#top-bar {
	display: none;
}