/*!
 Project   : Total WordPress Theme
 Purpose   : Admin Metabox styles
 Author    : WPExplorer
 Theme URI : http://www.wpexplorer.com
 */

#wpex-metabox {

    .wp-tab-panel {
        display: none
    }

    .wp-tab-panel#wpex-mb-tab-1 {
        display: block
    }

    .wp-tab-panel {
        max-height: none !important
    }

    ul.wp-tab-bar {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    ul.wp-tab-bar {
        padding-top: 5px
    }

    ul.wp-tab-bar:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
        zoom: 1;
    }

    ul.wp-tab-bar li {
        padding: 5px 12px;
        font-size: 14px;
    }

    ul.wp-tab-bar li a:focus {
        box-shadow: none
    }

    ul.wp-tab-bar li .fa {
        margin-right: 6px
    }

    .inside .form-table tr {
        border-top: 1px solid #dfdfdf
    }

    .inside .form-table tr:first-child {
        border: none
    }

    .inside .form-table th {
        width: 240px;
        padding: 10px 30px 10px 0;
    }

    .inside .form-table td {
        padding: 10px 0
    }

    .inside .form-table label {
        display: block
    }

    .inside .form-table th label .fa {
        margin-right: 10px
    }

    .wpex-mb-uploader {
        margin-left: 5px;
        .rtl & {
            margin-left: 0;
            margin-right: 5px;
        }
    }

    .inside .form-table th p.wpex-mb-description {
        font-size: 12px;
        font-weight: normal;
        margin: 0;
        padding: 0;
        padding-top: 4px;
    }

    .inside .form-table input[type="text"],
    .inside .form-table input[type="number"],
    .inside .form-table .wpex-mb-textarea-code {
        width: 40%
    }

    .inside .form-table textarea {
        width: 100%
    }

    .inside .form-table select {
        min-width: 40%
    }

    .wpex-mb-reset {
        margin-top: 7px
    }

    .wpex-mb-reset .wpex-reset-btn {
        display: block;
        float: left;
    }

    .wpex-mb-reset .wpex-reset-checkbox {
        float: left;
        display: none;
        margin-left: 10px;
        padding-top: 5px;
    }

}
