/*!
 Project   : Total WordPress Theme
 Purpose   : WordPress Customizer CSS
 Author    : WPExplorer
 Theme URI : http://www.wpexplorer.com
 */

@import "../load-helpers";

.wpex-theme-panel .notice {
    display: none !important
}

.wpex-theme-panel {

    h1 {
        padding-top: 20px;
        font-size: 2.1em;
    }

    .about-text {
        font-size: 1.15em;
        margin-bottom: 40px;
    }

    .nav-tab-wrapper {
        margin-bottom: 20px;
    }

}

.wpex-badge {
    position: absolute;
    top: 0;
    right: 0;
    width: 140px;
    height: 160px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    margin: 5px 0 0;
    display: block;
    text-rendering: optimizeLegibility;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    background: #6941b4;

    body.rtl & {
        right: auto;
        left: 0;
    }

    table {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .fa {
        font-size: 74px;
    }

    .wpex-spacer {
        width: 100%;
        height: 15px;
    }

    .wpex-version {
        background: #1bceaa;
        display: inline-block;
        padding: 0 4px;
        border-radius: 4px;
        margin-left: 2px;
        height: 14px;
        line-height: 14px;
        font-size: 11px;
        position: relative;
    }

}

@media only screen and (max-width: 500px) {
    .wpex-badge {
        position: relative;
        margin-bottom: 1.5em;
        width: 100%;
    }
}

.wpex-clr:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    zoom: 1;
}

.wpex-theme-panel .about-wrap .nav-tab {
    font-size: 14px;
}

.wpex-filterby-hide {
    display: none;
}

.wpex-sort-hide {
    display: none;
}

.wpex-theme-panel .nav-tab-wrapper .fa {
    margin-right: 10px;

    body.rtl & {
        margin-right: 0;
        margin-left: 10px;;
    }

}

// Updated panel
.wpex-theme-panel-updated {
    display: none;
    background: #fff;
    border-left: 4px solid #f0821e;
    margin: 15px 0 5px;
    padding: 1px 12px;
    @include box-shadow( 0 1px 1px 0 rgba(0,0,0,.1) );
}


// Right side links
.wpex-theme-panel .manage-right {
    clear: both;
    margin: 0;
    padding: 0;
    float: right;
    width: 35%;
}

.wpex-theme-panel .manage-right {
    font-size: 12px;
    font-weight: bold;
    color: #bbb;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.wpex-theme-panel .manage-right input[type="text"] {
    width: 100%;
    padding: 7px;
    font-weight: 600;
}

.wpex-filter-active button {
    font-weight: 400;
    text-transform: none;
    letter-spacing: normal;
}

.wpex-theme-panel-sort a {
    font-weight: 600;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0;
}

.wpex-theme-panel-sort a.wpex-active-category {
    padding: 1px 5px;
    border-radius: 2px;
    margin-left: -5px;
    background: #0D72B2;
    color: #fff;
}


// Left side options
.wpex-theme-panel .manage-left {
    float: left;
    margin: 0;
    padding: 0;
    width: 63%;
}

.wpex-theme-panel .manage-left table {
    margin-top: 15px;
}

.wpex-theme-panel .manage-left td,
.wpex-theme-panel .manage-left th {
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.1)
}

.wpex-theme-panel .manage-left td {
    padding: 10px 10px 8px 10px;
    line-height: 25px;
}

.wpex-theme-panel .manage-left td .dashicons {
    margin-right: 10px;

    body.rtl & {
        margin-right: 0;
        margin-left: 10px;;
    }
    
}

.wpex-module-description {
    line-height: 1.5;
    padding-left: 30px;
}

.wpex-module.wpex-hidden {
    display: none !important
}

tr.wpex-disabled {
	@include opacity( 0.5 );
}

tr.wpex-disabled:hover {
	@include opacity( 0.65 );
}

.wpex-theme-panel a:focus {
    @include box-shadow( none );
}

.admin-color-fresh .wpex-module a {
    color: #1a8dba;
}

.admin-color-midnight .wpex-module a {
    color: #dd382d;
}

.admin-color-light .wpex-module a {
    color: #777;
}

.admin-color-blue .wpex-module a {
    color: #096484;
}

.admin-color-coffee .wpex-module a {
    color: #59524c;
}

.admin-color-ectoplasm .wpex-module a {
    color: #523f6d;
}

.admin-color-ocean .wpex-module a {
    color: #6c976f;
}

.admin-color-sunrise .wpex-module a {
    color: #dd823b;
}

.admin-color-fresh .wpex-module:hover,
.admin-color-fresh .wpex-module:focus {
    background: #f8fcfe;
}

.admin-color-coffee .wpex-module:hover,
.admin-color-coffee .wpex-module:focus {
    background: #fcfcfb;
}

.admin-color-ectoplasm .wpex-module:hover,
.admin-color-ectoplasm .wpex-module:focus {
    background: #fff;
}

.admin-color-ocean .wpex-module:hover,
.admin-color-ocean .wpex-module:focus {
    background: #fbfcfc;
}

.admin-color-sunrise .wpex-module:hover,
.admin-color-sunrise .wpex-module:focus {
    background: #fefdfc;
}

.wpex-purchase-code-heading > span {
    display: inline-block;
    position: relative;
    top: -2px;
    margin-left: 5px;
}

.wpex-purchase-code-heading .dashicons-no {
    color: red;
}

input.wpex-invalid {
    border-color: red !important;
}

.wpex-purchase-code-heading .dashicons-yes {
    color: #8BC53F;
}

input.wpex-valid {
    border-color: #8BC53F !important
}

@media only screen and (max-width: 800px) { 
	.wpex-theme-panel .manage-right,
	.wpex-theme-panel .manage-left {
	    width: 100%;
	    float: none;
	}
}
