/*------------------------------------------------------------------
[List Item]
-------------------------------------------------------------------*/
.vcex-list_item .vcex-icon-wrap {
	margin-right: 10px;
	text-align: center;
}

.vcex-list_item {
	margin-bottom: 5px;
}

body .vcex-list_item a:hover {
	text-decoration: none !important;
}
