/*------------------------------------------------------------------
[Social Sharing]
-------------------------------------------------------------------*/
ul.wpex-social-share {
	list-style: none
}

.social-share-button-text {
	font-size: 13px
}

.wpex-social-share {

	li {
		float: left; // important!
	}

	li, a {
		display: block;
		text-decoration: none;
	}

	a {
		text-align: center;
		font-size: 1.077em;
		@include transition( $transition__speed );
	}

	a:hover {
		text-decoration: none;
	}

}

.wpex-social-share-wrap.position-vertical .social-share-title,
.wpex-social-share-wrap.position-fixed-v .social-share-title,
.blog-entry .social-share-title {
	display: none; // Hide title when not needed
}

.single-portfolio.no-composer .social-share-wrap.position-horizontal {
	margin: 40px 0 0;
}


/* Social Sharing > Vertical */
.wpex-social-share.position-vertical {
	position: absolute;
	top: 0;
	left: -55px;
	z-index: 9;
	width: 35px;
	list-style: none;
	margin: 0;
	
	.content-left-sidebar & {
		right: -55px;
		left: auto;
	}

	.boxed-main-layout & {
		left: -85px;
	}

	.boxed-main-layout .content-left-sidebar & {
		left: auto;
		right: -85px;
	}

	li {

		a {
			width: 35px;
			height: 35px;
			line-height: 35px;
		}

	}

	.social-share-button-text {
		display: none;
	}

}


/* Social Sharing > Minimal > Horizontal */
.wpex-social-share.position-horizontal {
	margin: 0 auto 40px;

	li {
		margin: 0 5px 5px 0;

		a {
			color: #999;
			padding: 0.3em 0.9em;
		}

		.fa {
			margin-right: 5px;
		}

	}

}

/* Social Sharing > Minimal */
.wpex-social-share.style-minimal {

	li {

		a {
			color: #999;
			border: 1px solid $borders__color;

			&:hover {
				background: #f7f7f7
			}

		}

		&.share-twitter a:hover {
			color: #00aced;
		}

		&.share-facebook a:hover {
			color: #3b5998
		}

		&.share-pinterest a:hover {
			color: #cb2027
		}

		&.share-googleplus a:hover {
			color: #dd4b39
		}

		&.share-linkedin a:hover {
			color: #4875B4
		}

	}

	&.position-vertical {
		border-top: 1px solid $borders__color;

		a {
			border-top: 0;
		}

	}

}

/* Social Sharing > Flat */
.wpex-social-share.style-flat {

	li {

		margin-bottom: 3px;

		a {
			color: #fff !important;
			border-radius: 2px;
		}

		&.share-twitter a {
			background: #00aced;
			&:hover {
				background: #0093cb;
			}
		}

		&.share-facebook a {
			background: #3b5998;
			&:hover {
				background: #324b80;
			}
		}

		&.share-pinterest a {
			background: #cb2027;
			&:hover {
				background: #ae1b21;
			}
		}

		&.share-googleplus a {
			background: #dd4b39;
			&:hover {
				background: #d03724;
			}
		}

		&.share-linkedin a {
			background: #4875B4;
			&:hover {
				background: #3e659c;
			}
		}

	}

}

/* Social Sharing > 3D */
.wpex-social-share.style-three-d {

	&.position-vertical {

		li:first-child {
			border-top: none
		}

	}

	li {

		margin-bottom: 3px;

		a {
			color: #fff !important;
			border: none;
			border-bottom: 3px solid rgba(0,0,0,0.25);
			border-radius: 2px;

			&:active {
				border-bottom-color: transparent;
			}

		}

		&.share-twitter a {
			background: #00aced;
			&:hover {
				background: #0093cb;
			}
		}

		&.share-facebook a {
			background: #3b5998;
			&:hover {
				background: #324b80;
			}
		}

		&.share-pinterest a {
			background: #cb2027;
			&:hover {
				background: #ae1b21;
			}
		}

		&.share-googleplus a {
			background: #dd4b39;
			&:hover {
				background: #d03724;
			}
		}

		&.share-linkedin a {
			background: #4875B4;
			&:hover {
				background: #3e659c;
			}
		}

	}

}

/* Social Sharing > Rounded */
.wpex-social-share.style-rounded {

	li {
		margin-bottom: 10px;
		margin-right: 10px;

		a {
			font-size: 1em;
			padding: 0.462em 1.692em;
			border: 2px solid $borders__color-light;
			@include transition( all 0.2s ease );
			@include border-radius( 99px );
		}

		&.share-twitter a {
			border-color: #00aced;
			color: #00aced;
			&:hover {
				background: #00aced;
				color: #fff;
			}
		}

		&.share-facebook a {
			border-color: #3b5998;
			color: #3b5998;
			&:hover {
				background: #3b5998;
				color: #fff;
			}
		}

		&.share-pinterest a {
			border-color: #cb2027;
			color: #cb2027;
			&:hover {
				background: #cb2027;
				color: #fff;
			}
		}

		&.share-googleplus a {
			border-color: #dd4b39;
			color: #dd4b39;
			&:hover {
				background: #dd4b39;
				color: #fff;
			}
		}

		&.share-linkedin a {
			border-color: #4875B4;
			color: #4875B4;
			&:hover {
				background: #4875B4;
				color: #fff;
			}
		}

	}

	&.position-vertical li a {
		padding: 0;
		font-size: 14px;
		@include box-sizing( content-box );
	}

}
